DPTEdb_pcpsetnc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_psednc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_tacc.csv filter=lfs diff=lfs merge=lfs -text
SPTEdb_dac.csv filter=lfs diff=lfs merge=lfs -text
SPTEdb_psednc.csv filter=lfs diff=lfs merge=lfs -text
SPTEdb_reverse.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_pcpsednc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_dacc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_kmers.csv filter=lfs diff=lfs merge=lfs -text
fishdb_pcpsednc.csv filter=lfs diff=lfs merge=lfs -text
SPTEdb_dcc.csv filter=lfs diff=lfs merge=lfs -text
SPTEdb_pseknc.csv filter=lfs diff=lfs merge=lfs -text
SPTEdb_scpsednc.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_dacc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_pcpsetnc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_scpsetnc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_tac.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_tac.csv filter=lfs diff=lfs merge=lfs -text
SPTEdb_kmers.csv filter=lfs diff=lfs merge=lfs -text
SPTEdb_scpsetnc.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_dcc.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_scpsednc.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_tacc.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_tcc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_reverse.csv filter=lfs diff=lfs merge=lfs -text
spte_kmers.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_kmers.csv filter=lfs diff=lfs merge=lfs -text
fishdb_tcc.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_reverse.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_scpsetnc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_dac.csv filter=lfs diff=lfs merge=lfs -text
SPTEdb_pcpsednc.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_psednc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_dcc.csv filter=lfs diff=lfs merge=lfs -text
fishdb_pseknc.csv filter=lfs diff=lfs merge=lfs -text
DPTEdb_pseknc.csv filter=lfs diff=lfs merge=lfs -text
